extends layout

block append scripts
  script(src='/scripts/rest-messages.js')
  script(src='/scripts/changeApplicationStatusScript.js')

block content

  if reason === 'przedluzenie'
    h1 Podanie o przedluzenie sesji egzaminacyjnej
  else if reason === 'warunek'
    h1 Podanie o warunkowe zaliczenie etapu studiów
  else if reason === 'stypendium'
    h1 Podanie o przyznanie stypendium
  else if reason === 'komis'
    h1 Podanie o egzamin komisyjny
    
  h3 Student
  span #{who.firstName} #{who.lastName}
  if reason === 'komis' || reason === 'warunek'
    h3 Przedmiot
    p #{body.subject}
  if reason === 'przedluzenie'
    h3 Do dnia
    p #{body.until}
  if reason === 'stypendium'
    h3 Rodzaj
    p #{body.why}
  h3 Uzasadnienie
  p #{body.body}
  
  h3 Status
  if user.role === '1'
    span 
      select#statusChanger.select(name='statusChanger' data-id=applicationId)
          option(value='oczekujacy' selected=(status==='oczekujacy')) Oczekujące
          option(value='rozpatrywany' selected=(status==='rozpatrywany')) Rozpatrywane
          option(value='zaakceptowany' selected=(status==='zaakceptowany')) Zaakceptowane
          option(value='odrzucony' selected=(status==='odrzucony')) Odrzucone
      button#changeStatusBtn(name='changeStatusBtn') Zmień
  else
    p #{status}
    
    a.btn.btn-primary(href='/student/applications/pdf/' + applicationId) Pobierz jako PDF