extends layout

block append scripts
  script(src='/scripts/rest-messages.js')
  script(src='/scripts/adminSubjectList.js')
  
block content
  
  if user.role === '1'
    .col-md-4.brd.col-md-offset-4
      .panel.panel-primary
        .panel-heading Dodawanie przedmiotu
        .panel-body
          form(name='admin/subjects/add-subject' method='POST' onSubmit='return sendForm();')
            div.form-group
              label(for='name') Nazwa:
              input#name.form-control(type='text' name='name')
              label(for='year') Rok:
              input#year.form-control(type='text' name='year')
              label(for='term') Semestr:
              select#terms.select.form-control(name='term')
                each term in terms
                  option(value=term.id) #{term.name}
              
            button.btn.btn-primary(type='submit' enctype='application/x-www-form-urlencoded') Dodaj

  table#subjectTable.table
    thead.thead-inverse
      tr
        th Nazwa
        th Rok
        th Semestr
        if user.role === '1'
          th Przypisz ludzi
          th 
        else if user.role === '3'
          th Ocena (I)
          th Ocena (II)
    tbody
      each subject in subjects
        tr(id=subject.id)
          td #{subject.name}
          td #{subject.year}
          td= subject.term == 1 ? 'Zimowy' : 'Letni'
          if user.role === '1'
            td 
              a.btn.btn-success(href="subjects/"+subject.id) Przypisz kogoś
            td
              button.btn.btn-danger(onClick='deleteSubject(' + subject.id + ');') Usuń
            td
              a.btn.btn-info(href="subjects/report/"+subject.id) Raport
          else if user.role === '3'
            td= subject.grades[0] ? subject.grades[0].grade : 'brak'
            td= subject.grades[1] ? subject.grades[1].grade : 'brak'
